.manage-specialty-container {
    .manage-specialty-content {
        margin         : 1.5rem 1.5rem;
        display        : flex;
        justify-content: space-between;

        .specialty-name {
            width: 100%;
        }

        .preview-image-container-specialty {
            display        : flex;
            flex-direction : row;
            justify-content: center;

            .left-content {
                padding-top   : 2.5rem;
                margin-right  : 2rem;
                display       : flex;
                flex-direction: column;

                .upload-button {
                    padding         : 5px;
                    border-radius   : 3px;
                    background-color: #ddd;
                    cursor          : pointer;
                    display         : flex;
                    justify-content : space-around;

                    .fas.fa-upload {
                        padding-top: 2px;
                    }

                    &:hover {
                        opacity: 0.6;
                    }
                }
            }

            .right-content {
                width       : 50%;
                padding-left: 1rem;

                .preview-image {
                    height         : 100%;
                    background     : left center no-repeat;
                    background-size: contain;
                    cursor         : pointer;
                }
            }
        }
    }

    .markdown-content {
        padding: 0 2.5rem;

    }

    .btn {
        margin: 1rem 2.5rem;
    }
}