.doctor-detail-container {
    height: 400px;
    margin: 30px 20px;

    .doctor-intro {
        display: flex;
        height : 120px;

        .left-content {
            width     : 20%;
            text-align: center;

            .doctor-avatar {
                height       : 100%;
                border-radius: 50%;
            }

        }

        .right-content {
            width         : 80%;
            display       : flex;
            flex-direction: column;

            .up {
                font-size  : 20px;
                font-weight: 600;
            }

            .down {
                padding-top: 10px;
            }

        }
    }

    .doctor-detail {
        background-color: rgb(228, 227, 227);
        margin          : 30px -20px;
        padding         : 30px 20px;
    }

    .doctor-schedule {
        border : 1px solid red;
        margin : 50px 0;
        display: flex;

        .left-content {
            border: 1px solid green;
            width : 50%;

        }

        .right-content {
            width: 50%;

        }
    }
}